/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

$color1: #990033;
$color2: #FF3300;

#application{
	height: 100px;
	width:100px;
}
#application2{
	height: 100px;
	width:100px;
}

#gradient{
	height: 200px;
	width: 1000px;
}